[DARKSKY]
enable = false
api_key = <<DARKSKYKEY>>
refresh = 15
package = Firefly.services.darksky

[ZWAVE]
enable = false
port = /dev/ttyACM0
package= Firefly.services.zwave

[HUE]
enable = false
package = Firefly.services.hue

[FIREBASE]
enable = false
email=
password=
api_key=AIzaSyCguxzjPs-2ky4lDUeHszynWFWC2WqqYl4
auth_domain=firefly-beta-cdb9d.firebaseapp.com
database_url=https://firefly-beta-cdb9d.firebaseio.com
storage_bucket=firefly-beta-cdb9d.appspot.com
package=Firefly.services.firebase

[NEST]
enable = false
package = Firefly.services.nest

[LIGHTIFY]
enable = false
ip = 192.168.86.31
package = Firefly.services.lightify