# This is the config section for HA-Bridge
# HA-Bridge enables native voice actions from Alexa and Google Home
# The Alias file allows you to create more native names for devices by mapping them to more natural sounding names. 

[HA_BRIDGE]
enable: yes
host: localhost
port: 80
alias_file: /opt/firefly_system/config/ha_bridge_alias.json
use_alias: no

# Firefly will automatically import all devices and actions from indigo and populate them in Firefly on startup.

[INDIGO]
enable: no
host: 127.0.0.1
port: 1234
user: username
password: password
https: no

[ZWAVE]
enable: no
port: /dev/ttyACM0

[NEST]
enable: no
username: youremail.@mail.com
password: YourPassword