{% raw %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet"
          href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc2/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div ng-app="SerenityApp" ng-controller="SerenityCtrl" md-theme="{{theme}}" md-theme-watch="true" layout="column"
     style="height:100%;" ng-cloak="" class="sidenavdemoBasicUsage">


    <div layout="column" flex="">
        <div>


            <md-toolbar md-whiteframe="8" layout="row">
                <md-button ng-click="toggleLeft()" hide-gt-lg aria-label="Menu">
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>
                <h1 class="md-toolbar-tools">Header</h1>
                <div>
                    <md-input-container>
                        <md-select ng-model="selectedTheme" placeholder="Select a theme">
                            <md-option ng-value="themeName" ng-repeat="themeName in themes"
                                       ng-selected="themeName == theme">{{ themeName }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

            </md-toolbar>
        </div>
        <section layout="row" flex="">

            <div ng-controller="LeftCtrl" ng-click="close()" md-theme="{{theme}}">

                <!-- START OF SIDEBAR -->

                <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
                            md-disable-backdrop="" md-whiteframe="4">


                    <md-toolbar class="md-accent">
                        <h1 class="md-toolbar-tools">Sidenav Left</h1>
                    </md-toolbar>


                    <md-list layout='column' style="height: 90%" class="md-accent">

                        <md-item ng-repeat="item in menuItems">
                            <a class="md-warn" ng-click="changeLocation(item.link);">
                                <md-item-content layout="row" layout-align="start start">
                                    <div class="inset">
                                        <i class="material-icons">{{::item.icon}}</i>
                                    </div>
                                    <div class="inset">{{item.title}}</div>
                                </md-item-content>
                            </a>
                        </md-item>

                        <md-divider flex></md-divider>
                        <div layout-align="end none" flex=20>
                            <md-subheader>Management</md-subheader>
                            <md-item ng-repeat="item in adminItems">
                                <a class="md-warn" ng-click="changeLocation(item.link);">
                                    <md-item-content layout="row" layout-align="start start">
                                        <div class="inset">
                                            <i class="material-icons">{{::item.icon}}</i>
                                        </div>
                                        <div class="inset">{{item.title}}</div>
                                    </md-item-content>
                                </a>
                            </md-item>
                        </div>
                    </md-list>
                </md-sidenav>
            </div>

            <!-- END OF SIDEBAR -->

            <!-- This is the content of the page -->
            <md-content flex="" layout-padding="">
                <ng-view layout="column" flex=100></ng-view>
            </md-content>
            <!-- End of content -->

            <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Sidenav Right</h1>
                </md-toolbar>
                <md-content ng-controller="RightCtrl" layout-padding="">
                    <form>
                        <md-input-container>
                            <label for="testInput">Test input</label>
                            <input type="text" id="testInput" ng-model="data" md-autofocus="">
                        </md-input-container>
                    </form>
                    <md-button ng-click="close()" class="md-primary">
                        Close Sidenav Right
                    </md-button>
                </md-content>

            </md-sidenav>

        </section>
    </div>
</div>


<!-- Angular Imports -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc2/angular-material.js"></script>

<script src="https://cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>


<script src="/js/app.js"></script>

</body>
</html>
{% endraw %}