<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet"
          href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc2/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body >
{% raw %}
<div ng-app="SerenityApp" ng-controller="SerenityCtrl"  md-theme="{{theme}}" md-theme-watch="true" layout="column" ng-cloak="">
{% endraw %}
    <md-content>
        <md-toolbar md-whiteframe="8"layout="row">
            <h1 class="md-toolbar-tools">{% block title %}{% endblock %}</h1>
            <div id="settings-icon">
                <a href="/settings"><md-icon ng-bind="'settings'"></md-icon></a>
            </div>
        </md-toolbar>
        <!--<md-nav-bar md-selected-nav-item="page1" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto('page1')" name="page1">Dashboard</md-nav-item>
            <md-nav-item md-nav-click="goto('page2')" name="page2">Devices</md-nav-item>
            <md-nav-item md-nav-click="goto('page3')" name="page3">Routines</md-nav-item>
        </md-nav-bar>-->
        <div class="container">{% block content %}{% endblock %}</div>
    </md-content>
</div>



    <!-- Angular Imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc2/angular-material.js"></script>


    <script src="/js/app.js"></script>

</body>
</html>